@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2 {
    font-family: 'DM Serif Display';
}

p {
    font-family: 'Jost';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 10%;
}

.header ul {
    display: flex;
    gap: 30px;
    list-style: none;
    cursor: pointer;
}

